<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>All Orders</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>All Orders</h1>
  </header>

  <section>
    <table>
      <tr>
        <th>Order ID</th>
        <th>Ordered Item</th>
        <th>Quantity</th>
        <th>Additional Requests</th>
        <th>Completion Status</th>
      </tr>
      {% for order in list_of_orders %}
      <tr>
        <td>{{ order[0] }}</td>
        <td>{{ order[2] }}</td>
        <td>{{ order[3] }}</td>
        <td>{{ order[4] }}</td>
        <td>{{ order[5] }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
</body>
</html>