<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Canteen Stall Preorder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Canteen Stall Preorder</h1>
  </header>

  <hr>

  <section>
    <form action="/order" method="POST">
      <label for="stall">Stall Number: </label>
      <select id="stall" name="stall" required>
        <option value="0">(choose a stall)</option>
        <option value="1">Stall 1 (Drink Stall)</option>
        <option value="2">Stall 2 (Snack Stall)</option>
        <option value="3">Stall 3</option>
        <option value="4">Stall 4</option>
        <option value="5">Stall 5</option>
        <option value="6">Stall 6</option>
        <option value="7">Stall 7</option>
        <option value="8">Stall 8</option>
      </select><br><br>
      <label for="menu">Menu: </label>
      <select id="menu" name="menu" required></select><br><br>
      <label for="quantity">Quantity</label>
      <input type="number" id="quantity" name="quantity" min="1" max="6" required><br><br>
      <label for="requests">Additional Requests: </label>
      <textarea id="requests" name="requests" rows="4", cols="50" maxlength="100"></textarea><br><br>
      
      <input type="submit" value="Submit order">
    </form>
  </section>

  <br>
  
  <footer>
    <a href="/login">Login for Stall Owners</a>
  </footer>

  <script>
    const stallSelect = document.getElementById('stall');
    const menuSelect = document.getElementById('menu');
    const stallMenus = {
    "1": ["Canned Drink ($1.00)", "Bottled Drink ($1.20)", "Iced Milo ($1.10)"],
    "2": ["Waffles ($1.50)", "Prata Rolls ($1.50)"],
    "3": ["White Chicken Rice ($3.50)", "Smoky BBQ Chicken Rice ($3.50)", "Chicken Cutlet Rice ($3.50)"],
    "4": ["Beef Tacos", "Chicken Quesadillas", "Veggie Nachos", "Guacamole & Chips", "Lemonade"],
    "5": ["Caesar Salad", "Grilled Chicken Wrap", "Fruit Smoothie Bowl", "Yogurt Parfait", "Fresh Orange Juice"],
    "6": ["Chocolate Chip Cookies", "Brownies", "Cupcakes (Vanilla, Chocolate)", "Ice Cream Sundae", "Hot Chocolate"],
    "7": ["Spaghetti Bolognese", "Fettuccine Alfredo", "Macaroni & Cheese", "Garlic Bread", "Iced Tea"],
    "8": ["California Roll", "Spicy Tuna Roll", "Veggie Sushi Platter", "Edamame", "Green Tea Ice Cream"]
    };

    stallSelect.addEventListener('change', () => {
      const selectedStall = stallSelect.value;
      const menuOptions = stallMenus[selectedStall];
      menuSelect.innerHTML = '';
      menuOptions.forEach(option => {
        const newOption = document.createElement('option');
        newOption.value = option;
        newOption.text = option;
        menuSelect.appendChild(newOption);
      });
    });
  </script>
</body>
</html>